/* Paragraph styling */
p {
  font-family: Times;
  font-size: 16px;
  color: #DECAFF;
}

/* Table border */
.table-border {
  border: 1px solid #DECAFF;
  border-collapse: collapse; /* Optional: keeps table borders neat */
}

.table-border th,
.table-border td {
  border: 1px solid #DECAFF; /* Adds border to cells too */
  padding: 5px;
}

/* Image resize */
#photo-resize {
  max-width: 250px;
  max-height: 300px;
}
